@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Roboto", sans-serif;
}
input:focus-visible,
textarea:focus-visible {
    border: none;
    outline: none;
}
main * ::selection {
    background: #07691C; /* WebKit/Blink Browsers */
}
::selection {
    background: #ffe8dc; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: #ffe8dc; /* Gecko Browsers */
}
textarea {
    resize: none;
}
.green-highlight::selection {
    background: #07691c;
}
.green-highlight::-moz-selection {
    background: #07691c;
}

@layer utilities {
    .w-112 {
        width: 28rem;
    }
    .w-128 {
        width: 32rem;
    }

    .max-w-112 {
        max-width: 28rem;
    }
    .max-w-128 {
        max-width: 32rem;
    }
    .max-w-160 {
        max-width: 40rem;
    }

    .n-right-52 {
        right: -13rem;
    }
    .n-right-64 {
        right: -16rem;
    }
    .n-right-88 {
        right: -22rem;
    }
    .n-right-124 {
        right: -31rem;
    }

    .n-left-4 {
        left: -1rem;
    }
    .n-left-8 {
        left: -2rem;
    }
    .n-left-12 {
        left: -3rem;
    }
    .n-left-13 {
        left: -3.25rem;
    }
    .n-left-24 {
        left: -6rem;
    }
    .n-left-28 {
        left: -7rem;
    }
    .n-left-52 {
        left: -13rem;
    }
    .n-left-80 {
        left: -20rem;
    }
    .n-left-100 {
        left: -25rem;
    }

    .n-bottom-4 {
        bottom: -1rem;
    }
    .n-bottom-40 {
        bottom: -10rem;
    }

    .n-scale-1 {
        transform: scaleX(-1);
    }

    .top-30px {
        top: 30px;
    }
    .top-40-tenth {
        top: 10.1rem;
    }
    .top-44-half {
        top: 11.5rem;
    }

    .right-93px {
        right: 93px;
    }
    .right-125px {
        right: 125px;
    }
    .right-188px {
        right: 188px;
    }

    .left-126px {
        left: 126px;
    }
    .left-178px {
        left: 178px;
    }

    .top-12-fifth {
        top: 3.2rem;
    }
    .top-36-four-fifths {
        top: 8.8rem;
    }

    .mt-40-two-fifth {
        margin-top: 10.4rem;
    }
    .mt-76 {
        margin-top: 19rem;
    }

    .t-origin-tl {
        transform-origin: top left;
    }

    .rotate-315 {
        transform: rotate(315deg);
    }

    .n-translate-x-50 {
        transform: translateX(-50%);
    }

    .h-screen-80 {
        height: 93vh;
    }

    .logo {
        max-width: 140px;
    }
    .flex-important {
        display: flex !important;
    }
}
